/* changes elements to include padding and border,
changes padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* changes body tag background color*/
body {
    background-color: #d9dcd6;
    
}

/* changes p tags font size */
p {
    font-size: 16px;
}

/* changes header tag padding, font style, background color
and font color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changes header section tag padding, right margin, 
font stlye and size*/
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* changes list item's margin and display in the header's
section's unordered list*/
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* changes h1 tags font size and display */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes h1 seo id tag color */
h1 #seo {
    color: #d9dcd6;
}

/* changes anchor tags colors and text decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* changes footer tag padding, clear (whether an element 
must be moved below floating elements before it),
font style and text alignment*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changes h4 tags font size */
h4 {
    font-size: 20px;
}

/* adds background image with set height, width, 
bottom margin,background size and position */
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* changes content class tags width, display, and left margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* changes content section tags bottom margin, padding, height,
font style, background color, and text color*/
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* changes content class h2 tags margin bottom and font size */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changes content class img tags max height */
.content img {
    max-height: 200px;
}

/* changes content float-left id tags float and right margins */
.content #float-left {
    float: left;
    margin-right: 25px;
}

/* changes content float-right id tags float and left margins */
.content #float-right {
    float: right;
    margin-left: 25px;
}

/* changes benefits class tags right margin, padding, 
clear, float, width, height, font style and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

/* changes benefits section tags bottom margin and text color */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* changes benefits class h3 tags bottom margin and 
text alignment */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* changes benefits class img tags display type, 
margin, and max width */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
